.banner {
  position: relative;
  display: flex;
  align-items: flex-end;
  width: 100%;
  min-height: 322px;
  min-width: 1280px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -100;
  background-color: #f3f3f3;
  &:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-image: url('../../images/icons/drop-content-icon.svg');
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 12px;
  }
}

.game-header {
  position: relative;
  display: flex;
  align-items: center;
  transform: translateY(60px);
  z-index: 0;
  
  &__preview-img {
    background-color: #fff;
    width: 174px;
    height: 174px;
    border-radius: 16px;
    padding: 5px;
    margin-right: 22px;
    & > img {
      border-radius: 12px;
      width: 100%;
      height: 100%;
      background-color: var(--orange);
    }
  }
  &__title {
    color: #fff;
    font-weight: 700;
    font-size: 3rem;
    line-height: 30px;
    margin-right: 12px;
  }
  &__created-by {
    color: #fff;
    font-weight: 400;
    line-height: 16px;
    font-size: 1.6rem;
    & > span {
      font-size: 1.6rem;
      color: var(--orange);
    }
  }
}