.left-bar {
  margin-top: -140px;
  .game {
    &__slogan {
      font-weight: 600;
      font-size: 2.2rem;
      line-height: 27px;
      margin-bottom: 20px;
    }
    &__short-desc {
      font-weight: 400;
      font-size: 1.4rem;
      color: #444;
      margin-bottom: 30px;
    }
  }
  .social-links {
    display: flex;
    margin: 28px 0;
    & > li {
      margin-right: 30px;
    }
  }
}

// ACTIVITY TAB
.event-types {
  &__item {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    & span {
      display: block;
      font-size: 1.2rem;
      font-weight: 300;
      line-height: 1.4rem;
      color: var(--grey);
    }
  }
}