.about-tab {
  width: 100%;
  margin-bottom: 20px;
  .data-panel {
    width: 100%;
    height: 372px;
    margin: 32px 0;
    video {
      width: 100%;
      height: 100%;
    }
    img {
      width: 100%;
      height: auto;
    }
  }
  .thumbnails-panel {
    display: flex;
    justify-content: space-between;
    &__item {
      width: 160px;
      height: 82px;
      &--active {
        border: 3px solid var(--orange);
      }
      img {
        width: 100%;
        height: auto;
      }
    }
  }

}

.items-tab {
  padding: 27px 0;
  &__header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 10px;
  }
  &__items-list {
    height: 100%;
    max-height: 500px;
    overflow-y: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 20px 0;
  }
}

.item-card {
  width: 232px;
  height: auto;
  border-radius: 3px;
  box-shadow: 0px 4px 26px rgba(0, 0, 0, 0.06);
  background-color: #fff;
  &__img-container {
    width: 232px;
    height: 232px;
    background-color: var(--orange);
    border-bottom: 3px solid var(--orange-light);
    border-radius: 3px 3px 0 0;
    img {
      width: 100%;
      height: auto;
    }
  }
  &__body {
    padding: 16px 12px;
  }
  &__game-name {
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 8px;
    color: rgba(0, 0, 0, 0.5);
  }
  &__item-name {
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 12px;
    color: #000;
  }
  &__item-ratting {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 1rem;
    line-height: 10px;
    color: #000;
  }
}

.btn--items-tab {
  width: auto;
  padding: 13px 16px;
  text-transform: none;   
}

.activity-tab {
  padding: 20px 0;
  &__stats-graph {
    width: 100%;
    & img {
      width: 100%;
    }
  }
  &__stats-info {
    & .title {
      font-size: 1.2rem;
      font-weight: 400;
      line-height: 1.4rem;
      color: var(--grey);
    }
    & .value {
      display: flex;
      align-items: center;
      & span {
        display: block;
        font-size: 1.2rem;
        font-weight: 600;
        line-height: 1.4rem;
        color: var(--orange-dark);
      }
    }
  }
  .shown-events {
    display: flex;
    width: 100%;
    &__item {
      padding: 10px;
      align-items: center;
      display: flex;
      background-color: #f3f3f3;
      max-width: max-content;
      border-radius: 3px;
      margin-right: 10px;
      cursor: pointer;
      & span {
        display: block;
        font-size: 1rem;
        font-weight: 600;
        line-height: 1.2rem;
        color: #252525;
        margin-right: 20px;
      }
      & svg {
        width: 6px;
        height: 6px;
        stroke: var(--grey);
        cursor: pointer;
      }
    }
    .clear-btn {
      border: none;
      text-transform: capitalize;
      font-size: 1rem;
      font-weight: 600;
      line-height: 1.2rem;
      color: #252525;
    }
  }
}

@mixin table-body-font {
  font-size: 0.8rem;
  font-weight: 500;
  line-height: 1rem;
}

.activity-table {
  width: 100%;
  &__head {
    & tr {
      & .h-cell {
        padding: 12px;
        font-size: 1.2rem;
        font-weight: 700;
        line-height: 1.4rem;
        color: var(--grey);
        text-transform: capitalize;
        border-bottom: 1px solid var(--grey-border-light);
        text-align: center;
        &:first-child { padding-left: 40px; }
        &:nth-child(1) { text-align: start; } // item cell
        &:nth-child(2) { text-align: start; } // price cell
      }
    }
  }
  &__body {
    & .row {
      & .b-cell {
        width: 12.5%;
        padding: 12px;
        @include table-body-font();
        text-align: center;
        &:first-child {
          padding-left: 40px;
        }
        & > .cell-price {
          display: flex;
          align-items: center;
          @include table-body-font();
          & > svg {
            width: 8px;
            height: 10px;
          }
        }
        & > .cell-item {
          width: 20%;
          display: flex;
          align-items: center;
          text-align: start;
          & > * {
            @include table-body-font();
          }
          & .img-container {
            width: 35px;
            height: 35px;
            margin-right: 6px;
          }
        }
        & > .cell-time {
          display: flex;
          align-items: center;
          @include table-body-font();
          & a {
            display: flex;
            align-items: center;
            margin-left: 6px;
          }
        }
        &.cell-quantity {
          width: 30%;
        }
      }
    }
  }
}