*,
html,
body {
  font-size: 10px; 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--bg-secondary); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--grey-light); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #575757; 
}