// DOWNLOAD BUTTON
.download-btn {
  display: block;
  width: 182px;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 17px;
  background-color: var(--orange);
  color: #fff;
  padding: 15px 0;
  text-align: center;
  border-radius: 3px;
  letter-spacing: 0.2em;
  cursor: pointer;
}

// SWITCHER 
.switch {
  position: relative;
  display: inline-block;
  width: 37px;
  height: 20px;
  input { 
    opacity: 0;
    width: 0;
    height: 0;
    &:checked + .slider {
      background-color: var(--orange-light);
    }
    &:focus + .slider {
      box-shadow: 0 0 1px  var(--orange-light);
    }
    &:checked + .slider:before {
      -webkit-transform: translateX(16px);
      -ms-transform: translateX(16px);
      transform: translateX(16px);
    }
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #D9D9D9;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 23px;
    &:before {
      position: absolute;
      border-radius: 50%;
      content: "";
      height: 12px;
      width: 12px;
      left: 4px;
      bottom: 4px;
      background-color: #575757;
    
      -webkit-transition: .4s;
      transition: .4s;
    }
  }
}

// MIN MAX INPUT
.min-max-input {
  display: flex;
  width: 160px;
  justify-content: space-between;
  align-items: center;
  input {
    width: 60px;
    height: 24px;
    padding: 5px 6px;
    background-color: #F3F3F3;
    border-radius: 3px;
    border: none;
    &::placeholder {
      color:#8C8C8C;
    }
    &:focus {
      outline: none;
    }
  }
}

// ACCORDION
.acc-btn {
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  transition: 0.4s;
  border-bottom: 1px solid #E8E8E8;
  height: 40px;
  & > span {
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 17px;
  }
}
.acc-panel {
  padding: 4px 6px;
  display: none;
  background-color: #fff;
  overflow: hidden;
  &.active {
    display: block;
  }
}
.acc-arrow {
  margin-right: 10px;
  &.open {
    transform: rotate(180deg);
  }
}
// tabs has different font styles
.about {
  & .acc-btn {
    & > span {
      color: #575757;
      text-transform: uppercase;
      font-weight: 500;
      font-size: 1.2rem;
      line-height: 15px;
    } 
  }
}
.items {
  & .acc-btn {
    & > span {
      color: #000;
      text-transform: capitalize;

      font-weight: 600;
      font-size: 1.4rem;
      line-height: 17px;
    } 
  }
}


// SEARCH INPUT
.search-field {
  display: flex;
  justify-content: space-between;
  width: 200px;
  height: 30px;
  background-color: #F3F3F3;
  padding: 4px 10px;
  border-radius: 3px;
  input {
    background-color: #F3F3F3;  
    border: none;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 15px;
    &:focus {
      outline: none;
    }
    &::placeholder {
      color: #8C8C8C;
      font-weight: 400;
      font-size: 1.2rem;
      line-height: 15px;
    }
  }
  button {
    background: transparent;
    border: none;
    cursor: pointer;
  }
}

// DROPDOWN
.dropdown {
  width: 140px;
  position: relative;
  &__btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    border-radius: 3px;
    border: 1px solid var(--grey-border-light);
    padding: 13px 15px;
    font-size: 1rem;
    font-weight: 600;
    color: #575757;
    &:after {
      display: block;
      content: '';
      background-image: url('../images/icons/arrow.svg');
      background-size: contain;
      background-repeat: no-repeat;
      width: 7px;
      height: 3.5px;
    }
    &.active {
      &:after {
        transform: rotate(180deg);
      }
    }
  }
  &__content {
    position: absolute;
    width: 100%;
    border: 1px solid var(--grey-border-light);
    background: #fff;
    cursor: pointer;
  }
  &__item {
    padding: 13px 15px;
    transition: all 0.2s;
    &:hover {
      background-color: var(--grey-border-light);
    }
  }
}
// SELECT
.sort-select {
  margin: 0 10px;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 12px;
  
  select {
    border: none;
    &:focus {
      outline: none;
    }
    & > * {
      font-size: 1.2rem;
    }
  }
  .select-empty {
    width: 20px;
  }
}

// BUTTON
.btn {
  border-radius: 3px;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.2rem;
  text-transform: uppercase;
  color: #575757;
  border: 1px solid var(--grey-border-light);
  height: 38px;
  width: 140px;
  background: #fff;
  cursor: pointer;
  &--orange {
    color: #fff;
    border: none;
    background: var(--orange-dark);
  }
}

// MODAL
.modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  overflow: none;
  background-color: rgba(0, 0, 0, 0.55);
  &__content {
    width: 540px;
    background-color: #fff;
    border-radius: 10px;
    padding: 22px 28px;
    transform: translate(50%);
  }
  &__header {
    display: flex;
    align-items: center;
    position: relative;
    padding-bottom: 22px;
    border-bottom: 1px solid var(--grey-border-light);
    & h3 {
      width: 100%;
      text-align: center;
      font-size: 1.4rem;
      font-weight: 500;
      line-height: 1.7rem;
      color: var(--grey);
      text-align: center;
    }
  }
  .close-btn {
    position: absolute;
    right: 0;
    border: none;
    background: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    &:focus, &:active {
      outline: none;
    }
  }
}

.single-acc {
  width: 540px;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.07);
  border-radius: 10px;
  padding: 20px 30px;
  &__header {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    & span {
      color: var(--grey);
      font-size: 14px;
      font-weight: 400;
      line-height: 17px;
    }
    & img {
      margin-right: 16px;
    }
    &::after {
      position: absolute;
      right: 0;
      content: url('../images/icons/arrow.svg');
    }
    &.no-arrow{
      &:after {
        display: none;
      }
    }
  }
  &__body {
    display: none;
    &.has-divider {
      margin-top: 20px;
      border-top: 1px solid var(--grey-border-light)
    }
  }
  .active {
    &::after {
      transform: rotate(180deg);
    }
  }
}