// DOWNLOAD BUTTON
.download-btn {
  display: block;
  width: 182px;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 17px;
  background-color: var(--orange);
  color: #fff;
  padding: 15px 0;
  text-align: center;
  border-radius: 3px;
  letter-spacing: 0.2em;
  cursor: pointer;
}

// SWITCHER 
.switch {
  position: relative;
  display: inline-block;
  width: 37px;
  height: 20px;
  input { 
    opacity: 0;
    width: 0;
    height: 0;
    &:checked + .slider {
      background-color: var(--orange-light);
    }
    &:focus + .slider {
      box-shadow: 0 0 1px  var(--orange-light);
    }
    &:checked + .slider:before {
      -webkit-transform: translateX(16px);
      -ms-transform: translateX(16px);
      transform: translateX(16px);
    }
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #D9D9D9;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 23px;
    &:before {
      position: absolute;
      border-radius: 50%;
      content: "";
      height: 12px;
      width: 12px;
      left: 4px;
      bottom: 4px;
      background-color: #575757;
    
      -webkit-transition: .4s;
      transition: .4s;
    }
  }
}

// MIN MAX INPUT
.min-max-input {
  display: flex;
  width: 160px;
  justify-content: space-between;
  align-items: center;
  input {
    width: 60px;
    height: 24px;
    padding: 5px 6px;
    background-color: #F3F3F3;
    border-radius: 3px;
    border: none;
    &::placeholder {
      color:#8C8C8C;
    }
    &:focus {
      outline: none;
    }
  }
}

// ACCORDION
.acc-btn {
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  transition: 0.4s;
  border-bottom: 1px solid #E8E8E8;
  height: 40px;
  & > span {
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 17px;
  }
}
.acc-panel {
  padding: 4px 6px;
  display: none;
  background-color: #fff;
  overflow: hidden;
  &.active {
    display: block;
  }
}
.acc-arrow {
  margin-right: 10px;
  &.open {
    transform: rotate(180deg);
  }
}
// tabs has different font styles
.about {
  & .acc-btn {
    & > span {
      color: #575757;
      text-transform: uppercase;
      font-weight: 500;
      font-size: 1.2rem;
      line-height: 15px;
    } 
  }
}
.items {
  & .acc-btn {
    & > span {
      color: #000;
      text-transform: capitalize;

      font-weight: 600;
      font-size: 1.4rem;
      line-height: 17px;
    } 
  }
}


// SEARCH INPUT
.search-field {
  display: flex;
  justify-content: space-between;
  width: 200px;
  height: 30px;
  background-color: #F3F3F3;
  padding: 4px 10px;
  border-radius: 3px;
  input {
    background-color: #F3F3F3;  
    border: none;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 15px;
    &:focus {
      outline: none;
    }
    &::placeholder {
      color: #8C8C8C;
      font-weight: 400;
      font-size: 1.2rem;
      line-height: 15px;
    }
  }
  button {
    background: transparent;
    border: none;
    cursor: pointer;
  }
}

// SELECT
.sort-select {
  margin: 0 10px;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 12px;
  
  select {
    border: none;
    &:focus {
      outline: none;
    }
    & > * {
      font-size: 1.2rem;
    }
  }
  .select-empty {
    width: 20px;
  }
}