:root {
  --orange: #FF7843;
  --orange-light: #FFAA45;
  --orange-dark: #FF6B43;

  --grey: #3C3C3B;
  --grey-light: #8C8C8C;
  --grey-border: #E8E8E8;
  --grey-border-light: #EFEFEF;

  --bg-primary: #FEFEFE;
  --bg-secondary: #F8F8F8;
  --bg-footer: #2A2B2A;
}


@mixin pageHeight {
  min-height: calc(100vh - 274px);// 274 = footer height - 162, header height - 112;
}