:root {
  --orange: #FF7843;
  --orange-light: #FFAA45;
  --orange-dark: #FF6B43;

  --grey: #3C3C3B;
  --grey-light: #8C8C8C;
  --grey-border: #E8E8E8;

  --bg-primary: #FEFEFE;
  --bg-secondary: #F8F8F8;
  --bg-footer: #2A2B2A;
}
